*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url('images/Paris-stadium-at-night-France_1920x1080.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
main{
    
    height: 100vh;
    overflow-y: hidden;
}
/*create button return*/
 
.back_return{
    width: 80px;
    height: 80px;
    background-color: #030e46;
    position: absolute;
     
 
    top: 2%;
    margin-left: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    transform: scale(.7);
}
.arrow{
    margin-right: 1em;
    height: 0.5em;
    width: 2.5em;
    position: relative;
    background: #ffffff;
    transition: all 0.2s;
    top: 45%;
    left: 25%;
   
}
.arrow::before,.arrow::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    height: 0.4em;
    width: 1.5em;
}
.arrow::before {
    transform: rotate(-45deg);
    transform-origin: left bottom;
    top: 0.9px;
}
  
.arrow::after {
    transform: rotate(45deg);
    transform-origin: left top;
    top: -0.9px;
} 
/*******index.html*******/
.menu{
    margin: 0 auto;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu a{
    text-decoration: none;
    color: #fff;
}
.card{
   border-radius: 8px;
   background-image: linear-gradient(to right top, #051937, #052654, #093473, #154193, #264fb4);
   cursor: pointer;height: 471px;
}

.play{
    width: 40%;
    display: flex;
    flex-direction: column;
  
    float: right;    
}
.play h1{
        font-size: 50px;
}
.play img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;   
}
.play .joue{
    padding: 20px;
     
    height: 100px;
    line-height: 4em;
}
.play:hover> div img{
    filter: blur(0.8px);
}
.play:hover{
  
    background-color: #0764a7; 
 
  
}
.droit{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
    gap: 10px;
}
.matches {
    position: relative;
    width: 100%;    
    height: 360px;
    overflow: hidden;
}
 .profil{
    width: 100px;
    
 }
 .matches {
    background-image: url("images/kylian-mbappe-fifa-22-n8-1920x1080.png");
    background-size: cover;
}
 /*
.matches .messi{
    
    width: 441px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 330px;   
    background: url("images/messi.png");
    background-size: cover;
    
}
.matches .ronaldo{
    z-index:1;
    width: 401px;
    height: 360px;
    position: absolute;
    top: 0;
    
    background: url("images/ronaldo.png");
    background-size: cover;
    
} */
.text_hidden{
 z-index: 1;
    position: absolute;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.399);
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: translateX(-9999px);
    text-align: center;
    padding: 15% 0;

}
 
.matches:hover>.text_hidden{
    display:block;
    transform: translateX(0px);
  
    transition: all 0.3s;
}

.matches h1{
    position: relative;
    z-index: 999;
    font-size: 140px;
    text-align: center;
    
    color: #fec211;
 
}
 
.regle{
    padding: 10px ;
    width: 100%;    
    border-radius: 8px;
    height: 100px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #052654, #093473, #154193, #264fb4);

    cursor: pointer;
    gap: 20px;
}
.regle .text{
    transform: translateY(-4.5px);
}
.regle:hover{
  
    background-color: #0764a7; 
    
}

#bar{
    font-size: 60px;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 5px;
}
.gw{
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #f9d923,
        #0b4d7d,
        
        #cb49ff,
        #ff6666,
        #f9d923
    );
    background-size: 400%;
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
     
    animation:glow 12s linear infinite  ;
 }

 .gw{
     color: #ffffff;
     font-size: 38px;
     font-size: 1800;
 }
  
 @keyframes glow{
     from{
         background-position: 0%;
     }
     to{
         background-position: 400%;
 
     }
 }
@media (max-width:1260px) {
    .matches .messi{
        width: 400px;
        left: calc(100% - 60%);
   }
   .matches .ronaldo{
        width: 390px;
        left: -120px;
   }
}
@media (max-width:950px) {
    .matches{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .matches h1{
         font-size: 90px;
         padding: 0;
     }
     .play h1{
        padding-top: 6%;
     }
     .play div .description   {
        display: none;
     }

}
@media (max-width:875px) {
    .menu{
        flex-direction: column;
    }
    .play{
        width: 90%;
        height: 100px;
            display: flex;
            overflow-y: hidden;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
    }
        .play h1 {
            padding-top: 0;
        }
        .play .joue{
            width: 100%; 
      
        }
 
        .play img{
            width: 70%;
            border-radius:8px 0px 0px 8px ;   
        }
    .droit{
        width: 90%;gap: 30px;
    }
    .matches{
        width: 100%;
    }
    .back_return{
        margin-left: 20px;
       transform: scale(.9);
    }
}
@media (max-width:500px) {
    .play .joue h1{
        margin-left: -40%;font-size: 35px;
    }
    .matches .messi{
        display: none;
    }
    .regle h1{
        font-size: 35px;
    }
    .matches .ronaldo{
        width: 390px;
        left: 0px;
   }
   .back_return{
    transform: scale(0.8);
   }
   .matches h1{
    font-size: 80px;
    padding: 0;
}
}
 
/******************play.html*******************/

.menu_play{
    height: auto;
    max-width: 800px;    width: 80%;
    margin:  100px auto;
    padding: 50px 0;
    display: flex;
     gap: 30px;
   
    flex-direction: column;
    align-items: center; 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
    
   color: #000;
   font-size: 25px;
   overflow: hidden;
}
:is(.reponse div,.menu_play .question)::first-letter{
    text-transform: uppercase;
}
.menu_play .question{
     
    padding: 20px;
 
    width: 80%;
     
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;font-size: 30px;
}
.menu_play .reponse{
 
    margin:10px 80px 0 80px;
    gap: 30px;    
    display:  flex;
    flex-wrap:wrap; 
   
    justify-content: center;
}
.reponse div{
    background-image: linear-gradient(to right top, #051937, #052654, #093473, #154193, #264fb4);
    width: 300px;
    padding: 5px 10px 10px 18px;
    border-radius: 8px;
     color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.menu_play button{
    width: 640px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #fec211;
    background-color: #2f3030;
}
button:hover{
    background-color: #474747;
}
.menu_play   .chose{
    background-image: linear-gradient(to right top, #396fbf, #3d626f, #436c71, #4771b1, #396fbf);
    
}
.menu_play   .correct{
    background-color: #078535;

}
.menu_play   .wrong{
    background-color: #952708;

}
@media (max-width:825px) {
    .menu_play{
         padding-bottom: 0;
    }
    .menu_play button{
        height: 80px;
    }    
    body{
        background-size:  cover     ;
    }
}
@media (max-width:420px) {  

    .menu_play{
        font-size: 20px;
        padding-top: 10px;
     
    }
    .menu_play .question {       font-size: 20px;
        padding:10px 2px 2px 0px;
    }
    .reponse div{
        width: 200px
    }
    .menu_play button{
        height: 50px;
    }
}
/*************home.html************/
.home{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.006);  
    display: flex;
    flex-direction:row-reverse;

}
.home .right{
    background: rgb(149,39,8);
    background: linear-gradient(  #952708 4% ,#56042C 40%, #191654 100% );
    width: 50%;
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 

.home .right img{
    width: 80%;

}
.home .right h1{
    color: #fec211;
}
.home .left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home .left form{
    display: inline-flex;
}
.home .left input[type="text"]{
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px;
}
.home .left #valider{
    background-color: #55042b;
    border: none;
    height: 41px;
    width: 120px;
    color: #fec211;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
@media (max-width:1200px) {
 
    .home .right{
        width: 50%;
        height: 100%;
    }
  
    .home .right img{
        width: 70%;
    }
    .home .left{
        width: 50%;
    }
    .home .left input[type="text"]{
        width: 200px;
    }
     
}
@media (max-width:690px){
    .home{
        background:none;
      
        flex-direction: column;
    }
    .home .right{
        width: 100%;
         padding: 20px;
    }
    .home .right h1{
        position: relative;
        font-size: 25px;
        top: 0;
        left: 0;
        transform: translateX(0%);
    }
    .home .left{
        width: 100%;
   
    }
    .home .left form{
        align-items: center;
        justify-content: center;
    }
    .home .left input[type="text"]{
        width: 50%;
    }
    .home .left #valider{
        width: 100px;
    }
}

/********matches.html*****/
.matches_c{
    width: 80%;
    height: 100%;
    
    margin: 100px auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    background-color: #56042cb8;  
    padding:50px;
     
}
::-webkit-scrollbar{
    display: none;
}
.match{
    background-image: linear-gradient(to right top, #051937, #052654, #093473, #154193, #264fb4);
    width: 95%;
    height: 200px;
    margin: 0 auto 20px auto;
    color: #000;
    border-bottom: 4px solid #fec211;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
.match h2{
    color: #fff;
    font-size: 30px;
    
    width: 30%;
}
.match h1{
    color: yellow;
    font-size: 40px;     
}
.match img{
    width: 100px;max-height:150px ;
}
.match .equipe1,.match .equipe2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     
    gap:10%;
}
 
.match .equipe2{
    flex-direction: row-reverse;
}
@media (max-width:1600px) {
    .menu{
        width: auto;
    }
}
@media (max-width:1200px) {
    .matches_c{
        width: 90%;
    }
}
@media (max-width:1000px) {
    .matches_c{
        width: 90%;
        
    }
    .match h2{
        font-size: 25px;
    }
    .match img{
        width: 30%;
    }
    .match{
        height: 30%;
        padding: 5px;
    }
    .match img[src="images/equipe/juventuce.png"]{
        width: 20%;
    }
    
}
@media (max-width:750px) {
    .matches_c{
        width: 100%;
        padding: 50px 10px;
    }
    .match{
        width: 100%;
        gap: 10px;
    }
    .match h2{
        font-size: 20px;
    }
    .match h1{
        font-size: 24px;
    }
 
    .match .equipe1,.match .equipe2{
        gap: 15%;
    }
    .match h2{
        display: none;
    }
}
